@import "tailwindcss";


/******************GLOBAL VARIABLES***********************/

:root {
  --primary: #F0A241;
  --secondary: #3A7E87;
  --tertairy: #46454B;
  --black: #000000;
  --white: #ffffff;
  --light-gray: #F7F7F7;
  --dark-gray: #46454B;
  --border: #DDDDDD;
  --trans: rgba(0, 0, 0, 0);
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertairy: var(--tertairy);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-gray: var(--light-gray);
  --color-dark-gray: var(--dark-gray);
  --color-border: var(--border);
  --color-trans: var(--trans);
  --font-outfit: var(--font-montserrat);
  --font-montserrat: var(--font-montserrat);
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/******************GLOBAL VARIABLES***********************/


/******************GLOBAL COMPONENTS***********************/

@layer components {
    .btn {
    @apply inline-block border-border border font-normal leading-5 px-6 py-3.5 transition-all duration-200 ease-in-out;
  }
  .btn.btn-primary {
    @apply bg-primary text-white border-primary;
  }
  .btn.btn-secondary {
    @apply bg-secondary text-white border-secondary;
  }
  .btn.btn-black {
    @apply bg-black text-white border-black;
  }
  .btn.btn-tertairy {
    @apply bg-tertairy text-white border-tertairy;
  }


  .container {
    @apply mx-auto px-4 max-w-[100%];
  }

  .sub-heading{
    @apply text-[20px] font-medium;
  }

  .font-bold{
    font-weight: 700 !important;
  }

  body .container {
    @media(min-width: 500px) {
      max-width: 90% !important;
    }
    @media(min-width: 1300px) {
      max-width: 1170px !important;
    }
  }
}

@layer base {
  p{
    margin-bottom: 1rem;
  }
  
  h1, .h1{
      font-size: 64px;
      line-height: 1.2;
      font-weight: 600;
  }

  h2, .h2{
      font-size: 48px;
      line-height: 1.2;
      font-weight: 600;
  }

  h3, .h3{
      font-size: 32px;
      line-height: 1.2;
      font-weight: 600;
  }

  h4, .h4{
      font-size: 28px;
      line-height: 1.2;
      font-weight: 600;
  }

  h5, .h5{
      font-size: 23px;
      line-height: 1.2;
      font-weight: 600;
  }
  button{
    cursor: pointer;
  }
}


/******************GLOBAL COMPONENTS***********************/



.hero-banner .swiper .swiper-button-next, .hero-banner .swiper .swiper-button-prev {
    width: 40px;
    height: 70px;
    background-color: #fff;
    --swiper-navigation-sides-offset: 0;
    padding: 12px;
    color: var(--primary);
}

.hero-banner .swiper .swiper-button-next:hover, .hero-banner .swiper .swiper-button-prev:hover {
    background: var(--primary);
    color: #fff;
}

.hero-banner .swiper  .swiper-pagination {
    --swiper-pagination-bottom: 10px;
    --swiper-pagination-bullet-inactive-color: #fff;
    --swiper-pagination-color: var(--primary);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-size: 10px;
}

.menu-bar-wpr .menu-bar {
    background: transparent;
    border: none;
    padding: 0px;
    margin: 0 5px 0 0;
    box-shadow: none;
    height: 22px;
    width: 35px;
    position: relative;
    cursor: pointer;
}

.menu-bar-wpr .menu-bar .bars {
    display: block;
    height: 3px;
    width: 100%;
    background: var(--black);
    border-radius: 10px;
    position: absolute;
    transition: 0.25s ease-in-out;
    transform: rotate(0deg);
}
.menu-bar-wpr .menu-bar.menu-bar-primary .bars {
    background-color: var(--primary);
}
.menu-bar-wpr .menu-bar .bar1 {
    top: 0px;
}

.menu-bar-wpr .menu-bar .bar2 {
    top: 9px;
    left: 0px;
    transition: 0.15s ease-in-out;
}

.menu-bar-wpr .menu-bar .bar3 {
    top: 18px;
}

.menu-bar-wpr .menu-bar.active .bar1 {
    top: 7px;
    transform: rotate(135deg);
}

.menu-bar-wpr .menu-bar.active .bar2 {
    left: -5px;
    opacity: 0;
}

.menu-bar-wpr .menu-bar.active .bar3 {
    top: 7px;
    transform: rotate(-135deg);
}

.menu-bar-wpr {
    line-height: 0;
}

.mobile-menu {
    --top-spacing: 0px;
    --top-bar: 0px;
    position: absolute;
    top: calc(100% + var(--top-spacing, 20px));
    left: 0px;
    right: 0px;
    z-index: 9;
    bottom: calc(calc(-100vh + var(--top-bar))  + calc(100% + calc(var(--top-spacing, 20px) * 2)));
    background-color: #fff;
    overflow: auto;
    line-height: normal;
    padding: 10px;
    /* box-shadow: 0px 4px 80px 0px #011E3E40; */
}
.dir-down, .dir-up {position: relative;}

.dir-down:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: url(/frontend/images/dir-down-1.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.dir-down:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: url(/frontend/images/dir-down-2.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.dir-up:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: url(/frontend/images/dir-up-1.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.dir-up:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: url(/frontend/images/dir-up-2.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
@media(min-width:768px){
    .swiper-md-2 .swiper-slide {
        width: calc(50% - 15px);
        margin-right: 30px;
    }
}
@media(min-width:992px){
    .swiper-lg-4 .swiper-slide {
        width: calc(25% - 22px);
        margin-right: 30px;
    }
}

@media(max-width: 991px){
    h1, .h1{
        font-size: 55px;
    }

    h2, .h2{
        font-size: 42px;
    }

    h3, .h3{
        font-size: 34px;
    }

    h4, .h4{
        font-size: 26px;
    }
}

@media(max-width: 767px){
    h1, .h1{
        font-size: 46px;
    }

    h2, .h2{
        font-size: 32px;
    }

    h3, .h3{
        font-size: 26px;
    }

    h4, .h4{
        font-size: 22px;
    }
    .hero-banner .swiper .swiper-button-next, .hero-banner .swiper .swiper-button-prev {
        width: 35px;
        height: 40px;
        --swiper-navigation-sides-offset: 0;
        padding: 10px;
    }
    .sub-heading {
        font-size: 18px;
    }
    .menu-bar-wpr .menu-bar {
      width: 28px;
    }
    
    .dir-down:before, .dir-down:after, .dir-up:before, .dir-up:after {
      height: 25px;
    }
}



/* new css about and contact */

.input-field {
    @apply w-full p-3.5 border-2 border-border rounded-md transition-all duration-200 ease-in-out bg-white text-black placeholder-gray-400 text-base;
}

.input-field:focus {
    @apply border-primary ring-2 ring-primary/20 outline-none;
}

.form-label {
    @apply block font-bold mb-2 text-left text-gray-800;
}

.contact-form .form-group {
    @apply m-0; /* Resets margin to rely on grid gap */
}

/* Styles for newsletter input on dark background */
.bg-secondary .input-field {
    @apply bg-white/10 border-white/20 text-white placeholder-white/70;
}

.bg-secondary .input-field:focus {
    @apply border-white ring-2 ring-white/30;
}

@layer components {
  .description {
    @apply text-justify;
  }


}

/* .description{
     @apply text-justify;
} */


.description ul,
.description ol {
    @apply list-disc list-inside mb-4 ml-5;
}

/* table */
.description table {
  @apply w-full border-collapse border border-gray-300 my-6 text-left text-base;
}

.description thead {
  @apply bg-gray-100;
}

.description th {
  @apply border border-gray-300 px-4 py-2 font-bold;
}

.description td {
  @apply border border-gray-300 px-4 py-2;
}

.description tr:nth-child(even) {
  @apply bg-gray-50;
}

.hero-banner-slider .swiper-button-prev:after,
.hero-banner-slider .swiper-button-next:after,
.events-slider-outer .swiper-button-prev:after,
.events-slider-outer .swiper-button-next:after,
.whatson-slider-outer .swiper-button-prev:after,
.whatson-slider-outer .swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after {
  content: none !important;
}
.swiper-button-prev,
.swiper-button-next {
  font-size: 0 !important;
}
